<%= provide(:title, "ユーザーページ") %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <i class="fas fa-user-circle fa-2x"></i>
        <span class="user mt-5 pt-0"><%= @user.name %></span>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>投稿 (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <% if @user.microposts.any? %>
          <%= render @microposts %>
        <% else %>
          <li>まだ投稿はありません</li>
        <% end %>
      </ol>
  </div>
  <%= paginate @microposts %>
</div>