<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "鼻歌に対する説明を入力してみよう" %>
  </div>
  <span class="file">
    <%= f.label :file %>
    <%= f.file_field :file , :size => 140 %>
  </span>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>
<% if @micropost.errors.any? %>
  <%= javascript_pack_tag 'root_path/render' %>
<% end %>